<% provide(:title, "Forgot password") %>
<div class="wrap-forgot-password">
  <div class="row forgot-password">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Find your account</h1>
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email...' %>
          <%= f.submit "Submit", class: "button left" %>
      <% end %>
    </div>
  </div>
</div>