<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
        <%= f.label :nickname %>
        <%= f.text_field :nickname, class: 'form-control' %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <%= f.submit "Save changes", class: "button" %>
    <% end %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <%= link_to "Change the Gravatar", "https://ru.gravatar.com/emails",
                  class: "button" %>
    </div>
  </div>
</div>