<% provide(:title, 'Sign up') %>
<h1 id="signup">Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :nickname %>
        <%= f.text_field :nickname, class: 'form-control',
                         placeholder: 'Nickname',
                         "data-toggle" => "tooltip", :title => "2..50 characters: 'a..z', '-', '_', '.'" %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control',
                         placeholder: 'Full name',
                         "data-toggle" => "tooltip", :title => "2..50 characters: 'a..z' or 'A..Z'" %>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control',
                         placeholder: 'Last name',
                         "data-toggle" => "tooltip", :title => "50 or less characters: 'a..z' or 'A..Z'" %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control',
                          placeholder: 'Email',
                          "data-toggle" => "tooltip", :title => "Correct email" %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control',
                             placeholder: 'Password',
                             "data-toggle" => "tooltip", :title => "6 or more characters" %>
        <%= f.label :password %>
        <%= f.password_field :password_confirmation, class: 'form-control',
                             placeholder: 'Password confirmation',
                             "data-toggle" => "tooltip", :title => "Repeat password" %>

        <%= f.submit "Create my account", class: "button" %>
    <% end %>
  </div>
</div>