<% provide(:title, @user.nickname) %>
<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= link_to gravatar_for(@user, size: 100), @user %>
          <h1><%= link_to "@#{@user.nickname}", @user %></h1>
          <%= render 'shared/stats' %>
        </section>
        <%= render 'follow_form' if logged_in? %>
      </aside>
      <div class="col-md-4 microposts-row">
        <% if @user.microposts.any? %>
            <ol class="microposts">
              <%= render @microposts %>
            </ol>
            <%= will_paginate @microposts %>
        <% end %>
      </div>
    </div>
<% end %>