<% provide(:title, @title) %>
<h1 class="follow-title"><%= @title %></h1>
<aside class="col-md-4 col-md-offset-4">
  <section class="user_info">
    <%= link_to gravatar_for(@user, size: 100), @user %>
    <h1><%= link_to "@#{@user.nickname}", @user %></h1>
    <%= render 'shared/stats' %>
  </section>
</aside>
<% if @users.any? %>
    <%= will_paginate %>
    <div class="row users">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="wrap-users">
          <ul class="users">
            <% @users.each do |user| %>
                <li>
                  <div class="user-img">
                    <%= gravatar_for user, size: 80 %>
                  </div>
                  <%= link_to user do %>
                      <div class="name">
                        <p><%= "@#{user.nickname}" %></p>
                  <% end %>
                  </div>
                  <% if @current_user.admin? && !user.admin? %>
                      <%= link_to "delete", user, method: :delete,
                                  data: {confirm: "You sure?"} %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% end %>