<%= form_for @micropost, html: {multipart: true} do |f| %>
    <div class="field">
      <%= f.text_area :content, placeholder: "What's going on?" %>
      <div class="wrap-pictureupload">
        <div class="pictureupload"><p id="picturename">Add an image</p>
          <%= f.file_field :picture,
                           accept: 'image/jpeg,image/gif,image/png',
                           onchange: "getName(this.value)" %>
        </div>
      </div>
      <%= f.submit "Post", class: "button post-button" %>
      <span class="counter">140</span>
    </div>
    <%= render 'shared/error_messages', object: f.object %>
<% end %>