<% provide(:title, "About") %>
<div class="about_pic">
  <!--section of image--->
  <div class="inform">
    <div class="header-main">
      <h1>Stories move the future</h1>
      <p>Inspire your friends to new feats</p>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h2>Get started</h2>
  <p>Friends will see your discoveries<br>
    Freeze the moment and share it right now!</p>
  <% unless logged_in? %>
    <%= link_to "Sign up", signup_path, { :class => "button", :role => "button" } %>
      <% else %>
      <%= link_to "Go to profile", current_user, { :class => "button", :role => "button" } %>
  <% end %>
</div>