<% provide(:title, "Contact") %>
<div class="contact-background">
    <div class="contact-info">
      <div class="circular"></div>
      <h1>Stanislav Pavlovitsky</h1>
      <h2>web developer, coffee destroyer</h2>
      <div class="soc-icons">
        <ul>
          <li>
            <a href="https://www.facebook.com/s.pavlovitsky"><%= image_tag "fb.png" %></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/profile/view?id=305371552"><%= image_tag "li.png" %></a>
          </li>
          <li>
            <a href="https://plus.google.com/102812632047940656860/posts"><%= image_tag "gplus.png" %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>