<% provide(:title, "Welcome") %>
<div class="first-picture">
  <div class="container-fluid">
    <div class="row">
      <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1 class="hidden-xs">Fablebeat</h1>
        <h1 class="visible-xs">Fablebeat</h1>
        <% unless logged_in? %>
            <div class="wrap-form">
              <%= form_for :session, url: login_url, method: :post,
                           html: {class: "for_login"} do |f| %>
                  <%= f.text_field :email_nickname,
                                   class: 'form-control',
                                   placeholder: 'Email or username' %>
                  <%= f.password_field :password, class: 'form-control',
                                       placeholder: 'Password' %>
                  <%= f.submit "Log in", class: "button" %>
                  <%= link_to "Sign up!", signup_path, method: :get, class: "button", form_class: "signup" %>
                  <div class=checkbox-inline>
                    <%= f.label :remember_me, class: "checkbox inline" do %>
                        <%= f.check_box :remember_me %>
                        <span>Remember me</span>
                        <%= link_to "(forgot password)", new_password_reset_path %>
                    <% end %>
                  </div>
              <% end %>
            </div>
            </div>
        <% end %> <!-- end of forms for non-logged user-->
        </div>
  </div>
</div>
</div>
<div class="jumbotron">
  <h2>Open yourself to the world</h2>

  <p>Share your emotions in text & photos</p>

  <div class="button_div">
    <a href="<%= about_path %>"
       class="button">Learn more</a>
  </div>
</div>
<div class="second-picture">
</div>
