<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <p class="user"><%= link_to "@#{micropost.user.nickname}",
                                  micropost.user %></p>
  <%= image_tag micropost.picture.url(:large) if micropost.picture? %>
  <p class="content"><%= micropost.content %></p><br>

<p class="timestamp">
<%= time_ago_in_words(micropost.created_at) %> ago.
  <% if current_user?(micropost.user) %>
<%= link_to micropost, method: :delete, data: {confirm: "You sure?"} do %>
          <i class="fa fa-times fa-2x"></i>
      <% end %>
<% end %>
</p>
</li>
