// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$state-danger-text: #a94442;
/*fablebeat pallette*/
$fbred: #d75c37;
$fbblack: #616c73;
$fbblue: #6991ac;
$fblight-blue: #c3d7df;
$fbwhite: #f5f5f5;

@mixin nav_hover {
  background-color: $fbred;
  color: $fbwhite;
}

@mixin box_shadow {
  -webkit-box-shadow: 0 0 10px 1px rgba(105, 145, 172, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(105, 145, 172, 0.5);
  box-shadow: 0 0 10px 1px rgba(105, 145, 172, 0.5);
}

@mixin float-left-top {
  display: block;
  float: left;
  vertical-align: top;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

/*other micropost css in users.scss*/
/*new micrpopost*/
.field {
  textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    width: 100%;
    max-width: 400px;
    height: 100px;
    @include box_shadow;
    font-size: 16px;
  }
  .counter {
    display: inline-block;
    font-size: 18px;
    margin-left: 5px;
  }
}

.micropost_form {
  .alert {
    position: relative;
    top: 10px;
  }
  textarea, #micropost_picture {
    display: block;
    margin: 0 auto;
  }
  .button {
    display: inline-block;
    margin-left: 0;
  }
  .disabled-button {
    color: rgba(97, 108, 115, .8);
    background-color: rgba(195, 215, 223, .6);
  }
}

/*styling upload button*/
.pictureupload {
  display: inline-block;
  @extend .button;
  position: relative;
  overflow: hidden;
  margin: 10px 10px 5px 10px;
  p {
    color: $fbwhite;
    margin-bottom: 0;
    font-weight: 100;
  }
}
.pictureupload input#micropost_picture {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#picturename {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
}

@media (max-width: 992px) {
  .field {
    max-width: 394px;
    margin: 0 auto;
  }
}


@media (max-width: 500px) {
  .wrap-pictureupload {
    position: relative;
    margin-left: 0;
  }
  .user_info h1 {
    font-size: 16px;
    padding: 2px;
  }
  .stats  {
    & strong, & span, & a, & h2 {
      font-size: 14px !important;
    }
  }
  #picturename {
    font-size: 12px;
  }
}
