// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$fbred: #d75c37;
$fbblack: #616c73;
$fbblue: #6991ac;
$fblight-blue: #c3d7df;
$fbwhite: #f5f5f5;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
/* initial body */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* toggle menu */
.menu {
  background-color: rgba(255, 255, 255, 0.8);
  left: -285px; /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 1;
  ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    border-bottom: 1px solid #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
    color: #101010;
    font-weight: bold;
  }
  a {
    color: #4c4c4c;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: #b7b7b7;
    }
  }
}

.fa-bars {
  color: white;
}

.icon-close {
  position: relative;
  right: -245px;
  font-weight: 200;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  color: #4c4c4c;
  &:hover {
    color: #b7b7b7;
  }
}

.icon-menu {
  position: fixed;
  color: #000000;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  i {
    margin-right: 5px;
  }
}

/*HOME PAGE*/
.first-picture {
  background-image: url(asset_path("forest.jpg"));
  width: 100%;
  height: 565px;
  .container-fluid {
    display: table;
    width: 100%;
    height: 565px;
    .alert {
      text-align: center;
      @include border-radius(10px);
      position: relative;
      width: 80%;
      margin: 0 auto;
    }
  }
  .row {
    display: table-cell;
    vertical-align: middle;
  }
  h1 {
    background: rgba(245, 245, 245, 0.7);
    font-size: 48px;
    color: rgb(76, 76, 76);
    width: 230px;
    height: 230px;
    @include border-radius(50%);
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    line-height: 210px;
  }
  .visible-xs {
    font-size: 30px;
    width: 150px;
    height: 150px;
    padding: 10px;
    @include border-radius(50%);
    line-height: 130px;
  }
  /*login form*/
  form.for_login {
    height: 200px;
    @include border-radius(10px);
    padding: 10px 10px 20px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
  }
  @media (max-width: 520px) {
    form.for.login {
      margin: 0;
    }
  }
  .form-control {
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: inset 0 0 0 50px white;
    border: none;
  }
  input {
    width: 100%;
  }
  .button {
    text-align: center;
    display: block;
    margin-top: 5px;
    border: none;
    width: 100%;
    outline: none;
  }
  .checkbox-inline {
    span {
      display: inline-block;
      margin-left: 5px;
      top: 5px;
    }
    a {
      text-decoration: none;
    }
    input[type='checkbox'] {
      margin-left: -110px;
      bottom: 4px;
    }
  }
}

@media (max-width: 350px) {
  .checkbox-inline {
    font-size: 10px;
  }
  input[type="checkbox"] {
    margin-left: -80px !important;
    bottom: 2px;
  }
}

/*Button, common style*/
.button {
  background-color: rgba(97,108,115, .8);
  padding: 5px;
  -webkit-transition: color .5s, background-color .5s;
  -moz-transition: color .5s, background-color .5s;
  -o-transition: color .5s, background-color .5s;
  transition: color .5s, background-color .5s;
  color: white;
  font-size: 16px;
  @include border-radius(10px);
  margin: 0 auto;
  border: none;
  a, a:link, a:visited {
    text-decoration: none;
  }
  &:hover, &:active {
    color: rgba(76, 76, 76, .8);
    background-color: rgba(195,215,223, .6);
    text-decoration: none;
  }
}

/*information under forms*/
.jumbotron {
  background-color: white;
  text-align: center;
  padding: 0;
  margin-bottom: 0 !important;
  h2 {
    font-size: 40px;
  }
  p {
    margin-bottom: 20px;
  }
  .button_div {
    margin-bottom: 30px;
  }
  .button {
    border: none;
    width: 100%;
    outline: none;
    padding: 10px;
    margin-top: 5px;
    text-decoration: none;
  }
}

.second-picture {
  background-image: url(asset_path("refe.jpg"));
  height: 565px;
  width: 100%;
}

.about_pic {
  background-image: url(asset_path("clouds.jpg"));
  height: 565px;
  width: 100%;
  display: flex;
  .inform {
    margin: auto;
  }
  .header-main {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    margin-bottom: 15px;
  }
  h1 {
    font-weight: 300;
    margin: 5px;
    font-size: 48px;
  }
  p {
    font-weight: 200;
    font-size: 30px;
    text-align: center;
  }
}

/*footer*/
footer {
  font-size: 14px;
  padding-top: 20px;
  margin: 10px auto;
  text-align: center;
  ul {
    display: inline-block;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
  }
  a:link, a:visited {
    text-decoration: none;
    color: #4c4c4c;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }
  a:hover, a:active {
    color: #878787;
  }
  figure:hover {
    img {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }
  }
  @media (max-width: 500px) {
      ul li {
      display: block;
      margin: 0 auto;
    }
  }
}

/*contact page*/
.contact-background {
  background-image: url(asset_path("mountains.jpg"));
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-info {
  margin: auto;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 300px;
  height: 310px;
  background-color: rgba(255, 255, 255, 0.2);
  h1 {
    text-align: center;
    font-size: 20px;
  }
  h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
  }
}

.soc-icons {
  display: inline-block;
  ul {
    width: 300px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    list-style-type: none;
    text-align: center;
  }
  li {
    display: inline-block;
  }
  img {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
  }
  img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
}

.circular {
  margin: 10px auto;
  width: 150px;
  height: 150px;
  @include border-radius(150px);
  background-image: url(asset_path("me.jpg"));
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}