@import "microposts";
@import "bootstrap";
@import "bootstrap-sprockets";

@mixin transition-1option($first) {
  -webkit-transition: $first;
  -moz-transition: $first;
  -o-transition: $first;
  transition: $first;
}

@mixin transition-2options($first, $second) {
  -webkit-transition: $first, $second;
  -moz-transition: $first, $second;
  -o-transition: $first, $second;
  transition: $first, $second;
}

@mixin transition-3options($first, $second, $third) {
  -webkit-transition: $first, $second, $third;
  -moz-transition: $first, $second, $third;
  -o-transition: $first, $second, $third;
  transition: $first, $second, $third;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  margin: 0 auto;
  background-color: $fbwhite;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container-fluid {
  padding: 0;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

/*nav*/
.navbar {
  color: $fbblack;
  background-color: $fbwhite;
  .navbar-brand {
    color: $fbblack;
    @include transition-2options(background-color 1s, color 1s);
    &:hover {
      @include nav_hover
    }
  }
  .collapse {
    border: none;
  }
  ul.nav > li {
    a {
      font-weight: bold;
      color: $fbblack;
      @include transition-2options( background-color 1s, color .5s);
    }
    a:hover, .active-item {
      @include nav_hover
    }
  }
  .dropdown {
    .dropdown-menu {
      padding: 0;
      color: $fbblack;
      background-color: $fbwhite;
      li {
        padding: 5px;
        @include transition-2options(background-color 1s, color 1s);
      }
      li:hover {
        @include nav_hover;
        background-clip: border-box;
      }
    }
  }
}

/*profile page (show)*/
/*left block with user's info*/
aside {
  section.user_info {
    max-width: 400px;
    width: 100%;
    height: 100%;
    margin: 20px auto;
    border: 2px solid $fbblack;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    h1 {
      margin-top: 10px;
      background-color: $fbblue;
      padding: 10px;
      @include transition-1option(background-color 1s);
      a {
        color: $fbwhite;
        @include transition-1option(color .5s);
      }
    }
    h1:hover {
      background-color: $fbwhite;
      a {
        color: $fbblack;
      }
    }
    .stats {
      text-align: center;
      font-size: 20px;
      margin-bottom: 10px;
      a:hover {
        text-decoration: underline;
      }
      h2 {
        margin: 10px 0 0;
        font-size: 20px;
      }
      span {
        font-weight: bold;
      }
    }
    img.gravatar {
      display: block;
      margin: 10px auto;
      width: 80px;
      height: 80px;
      @include border-radius (80px);
    }
    .gravatar {
      margin-right: 10px;
    }
  }
  p {
    text-align: center;
    font-size: 16px;
    color: #4d4d4d;
  }
  h1 {
    font-size: 30px;
  }
}

/*small screen specifics*/
@media (max-width: 992px) {
  div.row div.microposts-row {
    width: 100%;
  }
  img {
    padding: 10px;
    width: auto;
  }
  .content {
    padding: 10px;
    margin-left: 80px !important;
  }
  .microposts {
    margin-top: 20px;
  }
}

@media (max-width: 544px) {
  .content {
    margin-left: 10px !important;
  }
}

/*normal screen settings*/
.microposts-row {
  width: 66%;
  position: relative;
  top: 20px;
  h3 {
    text-align: center;
  }
  .fa.fa-times {
    position: relative;
    top: 5px;
    @include transition-1option(opacity .5s);
  }
  .fa.fa-times:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  .microposts {
    padding-left: 0;
    list-style: none;
    li {
      min-height: 120px;
      height: auto;
      margin-bottom: 20px;
      @include border-radius(10px);
      position: relative;
      border: 2px solid $fbblack;
      @include transition-3options(background-color 1s, color 1s, border 1s);
      img {
        display: block;
        max-width: 100%;
      }
    }
    li:hover {
      background-color: $fblight-blue;
      border: 2px solid $fblight-blue;
    }
  }

  /*post in feed*/
  .user {
    display: block;
    max-width: 90%;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 0;
  }
  .gravatar {
    @include float-left-top;
    padding: 10px;
  }
  .timestamp {
    color: #4c4c4c;
    text-align: right;
    position: absolute;
    display: block;
    bottom: 5px;
    right: 5px;
    margin-right: 10px;
    width: 100%;
  }
  .content {
    word-wrap: break-word;
    font-size: 20px;
    padding: 0 20px 10px 0;
    margin: 0 0 40px 70px;
  }
}

/*footer*/
footer {
  border-top: 1px solid lightgray;
  font-size: 14px;
  padding-top: 20px;
  margin: 10px auto;
  text-align: center;
  ul {
    display: inline-block;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include transition-1option(opacity 0.5s);
  }
  a:link, a:visited {
    text-decoration: none;
    color: $fbblack;
    @include transition-1option(color 0.5s);
  }
  a:hover, a:active {
    color: $fbblack;
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
  figure:hover {
    img {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }
  }
}

@media (max-width: 486px) {
  footer ul li {
    display: block;
  }
}

/*signup and edit form*/
.container-fluid h1 {
  text-align: center;
}

form.new_user, .edit_user {
  @include border-radius(10px);
  padding: 10px;
  margin: 0 auto;
  label {
    margin-bottom: 0;
    font-weight: normal;
    color: black;
    font-size: 16px;
  }
}

.form-control {
  border: 1px solid $fbblack;
  margin-bottom: 10px;
  font-weight: normal;
  -webkit-box-shadow: inset 0 0 0 50px white;
  height: 50px;
  font-size: 30px;
  margin-top: 10px;
}
.form-control:last-child {
  margin-bottom: 20px;
}
input {
  height: 42px;
  font-weight: 100;
  font-size: 30px;
  @include border-radius(5px);
}

input[value] {
  font-size: 18px;
}

#signup {
  text-align: center;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.button {
  display: block;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
  @include border-radius(10px);
  text-align: center;
  border: none;
  background-color: $fbblue;
  font-size: 16px;
  line-height: 20px;
  color: $fbwhite;
  outline: none;
  @include transition-2options(background-color 1s, color 1s);
  a, a:link, a:visited {
    text-decoration: none;
    color: $fbwhite;
  }
  &:hover, &:active {
    color: rgba(97, 108, 115, .8);
    background-color: rgba(195, 215, 223, .6);
    text-decoration: none;
  }
}

a, a:link {
  color: rgb(76, 76, 76);
  font-weight: normal;
  text-decoration: none;
}

.edit_form {
  a {
    color: rgb(76, 76, 76);
  }
}

.gravatar_edit {
  margin: 0 auto;
  text-align: center;
  .gravatar {
    margin-bottom: 10px;
  }
  a, a:link {
    color: $fbwhite;
    font-weight: 100;
  }
  a:hover {
    color: $fbblack;
  }
}

/*(index) users page*/
h1.users {
  margin-top: 30px;
  margin-bottom: 50px;
}

.wrap-users {
  width: 100%;
  text-align: center;
}

ul.users {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  li {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 100px;
    margin-bottom: 50px;
  }
  img:hover {
    @include box_shadow;
  }
  .user-img {
    height: 100px;
    position: relative;
    .gravatar {
      position: absolute;
      left: 50%;
      margin-left: -40px;
      width: 80px;
      height: 80px;
      @include border-radius(100px);
      z-index: 1;
    }
  }
  .name {
    position: relative;
    bottom: 20px;
  }
  p {
    color: #494949;
    @include transition-2options(background-color 1s, color 1s);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p:hover {
    display: block;
    background-color: #eef2f3;
    color: #4c4c4c;
  }
  li {
    font-size: 16px;
    a:hover {
      font-weight: bold;
    }
  }
  /*admin delete button*/
  a[data-confirm = "You sure?"] {
    display: inline-block;
    position: relative;
    font-size: 12px;
    background-color: yellow;
    bottom: 30px;
    width: 50px;
    text-align: center;
  }
}

div.pagination {
  text-align: center;
  width: 100%;
  .active a {
    background: #4c4c4c !important;
    color: #f5f5f5 !important;
  }
  ul.pagination {
    display: inline-block;
    a {
      color: #4c4c4c;
      border: none;
    }
    a:hover, a:active {
      background: #4c4c4c;
      color: #f5f5f5;
    }
  }
}

/*password resets*/
.fogot-password div {
  width: 50%;
  margin: auto;
}
.wrap-forgot-password {
  h1 {
    margin-top: 10px;
  }
}

.button.left {
  margin-left: 0;
}

/*followers/following*/
.user.follow {
  li {
    display: block;
  }
  .follow-title {
    text-align: center;
  }
}

/* overwrite bootstrap tooltip*/
.tooltip-inner {
  width: 300px;
  font-size: 18px;
  background-color: $fbred;
  color: $fbwhite;
}

.tooltip.right .tooltip-arrow {
  border-right-color: $fbred;
}

@media (max-width: 770px) {
  .tooltip-inner {
    width: 100px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .tooltip-inner {
    font-size: 12px;
    width: 70px;
  }
  .form-control {
    height: 30px;
    font-size: 16px;
  }
  form .button {
    font-size: 12px;
    line-height: 12px;
    height: 30px;
  }
  .field span.counter {
    font-size: 14px;
  }
}