<footer>
  <ul>
    <li>
      <figure>
        <%= link_to about_path do %>
        <%= image_tag 'footer_about.png', alt: 'about' %>
            <figcaption>About</figcaption>
            <% end %>
      </figure>
    </li>
    <li>
      <figure>
        <%= link_to contact_path do %>
            <%= image_tag 'footer_contact.png', alt: 'contact' %>
            <figcaption>Contact</figcaption>
        <% end %>
      </figure>
    </li>
    <li>
      <figure>
        <%= link_to '#' do %>
            <%= image_tag 'footer_portfolio.png', alt: 'portfolio' %>
            <figcaption>Portfolio</figcaption>
        <% end %>
      </figure>
    </li>
  </ul>
</footer>