<!--Toggled menu-->
<nav class="menu">
  <!-- Menu icon -->
  <div class="icon-close">
    <i class="fa fa-times fa-2x"></i>
  </div>
  <!-- Menu -->
  <ul>
    <% if logged_in? %>
        <li>
          <%= link_to "Post & Read", home_path %>
        </li>
    <li>
      <%= link_to "Profile", current_user %>
    </li>
    <% end %>
    <li>
      <%= link_to "About", about_path %>
    </li>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "Contact", contact_path %>
    </li>
    <% if logged_in? %>
        <li>
          <%= link_to "Log out", logout_path, method: :delete %>
        </li>
    <% end %>
  </ul>
</nav>
<!-- Main body -->
<div class="icon-menu">
  <i class="fa fa-bars fa-2x"></i>
</div>