<nav class="navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Fablebeat", root_url, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
      <li><%= link_to "Post & Read", home_path,
                      class: (current_page?(home_path) ? "active-item" : "") %></li>
          <li><%= link_to "Profile", current_user,
                          class: (current_page?(current_user) ? "active-item" : "") %></li>
          <li><%= link_to "Users", users_path,
                          class: (current_page?(users_path) ? "active-item" : "") %></li>
      <% end %>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">Account
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Log out", {:controller => :sessions,
                                          :action => :destroy}, {:method => :delete} %></li>
            </ul>
          </li>
      <% end %>
      <% unless logged_in? %>
          <li><%= link_to "Log in", root_path %></li>
      <% end %>
    </ul>
  </div>
</nav>